<div class="row">
  <div class="col-md-4 gallery">
    <%= image_tag @product.image.url, size: Settings.product.show.size,
      class: "thumbnail zoom" %>
  </div>
  <div class="col-md-7">
    <h2>
      <strong><%= @product.name %> - <%= @product.category.title %></strong>
    </h2>
    <%= social_share_button_tag(@product.name, url: @product) %>
    <h3>
      <div class="average-comment-rating" data-score="<%= @product.rate_score %>"></div>
    </h3>
    <h3><%= @product.price %> $</h3>
    <h4><%= t ".quantity" %><%= @product.quantity %></h4>
    <h3>
      <%= link_to t("products.addtocart"), "/cart/#{@product.id}",
        method: :post, class: "btn btn-primary" %>
    </h3>
    <% unless @product.description.blank? %>
      <h4><%= t "Discription" %></h4>
      <% if @product.description.length > 150 %>
        <div class="scroll"><%= @product.description %></div>
      <% else %>
        <%= @product.description %>
      <% end %>
    <% end %>
    <hr>
    <% if user_signed_in? %>
      <% if can? :create, Comment %>
        <h4><%= t "Createnewcomment" %></h4>
        <% unless @current_comment %>
        
          <%= form_for [@product, @comment] do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.label :rating %>
            <div id="rating-form">
            </div>
            <br>
            <%= f.text_area :content, class: "form-control" %>
            <br/>
            <%= f.submit t("create"), class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= form_for [@product, @comment] do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :rating, value: 0.0 %>
            <%= f.text_area :content, class: "form-control" %>
            <br>
            <%= f.submit t("create"), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if can? :read, Comment %>
      <div id="show-comment">
        <%= render @comments %>
        <%= paginate @comments %>
      </div>
    <% end %>
  </div>
</div>
